/* #container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "s s h h f f f"
    "s s h h f f f"
    "s s . . f f f"
    "s s m m f f f"
    "s s m m f f f";
    /* grid-gap: 10px; }*/

/* .head{
    grid-area: h;
    background-color: yellow;
}

.side-nav{
    grid-area: s;
    background-color: blue;
}

.main{
    grid-area: m;
    background-color: blueviolet;
}

.foot{
    grid-area: f;
    background-color: red;
} */

/* ------------------------------------------------- */

/* #nav-container{
    display: grid;
    background-color: #2c3e50;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 15px;
    padding-left: 15px;
}

.main-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav-item{
    display: grid;
    align-content: center;
    color: #ecf0f1;
    height: 100%;
}

.logo-container{
    display: grid;
    justify-content: end;
} */

/* ------------------------------------------------- */

#main{
    display: grid;
    background-color: #DEDEDE;
    grid-template-rows: 11fr 1fr;
}

#friend {
    display: grid;
    
}

#friends{
    display: grid;
    background-color: blueviolet;
    font-family: 'Noto Serif', serif;
}

#container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
}

#search-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#messages {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.messageLeft {
    display: grid;
    display: inline-block;
    background-color: gray;
    font-family: 'Noto Serif', serif;
    grid-template-rows: 
}

.messageRight {
    display: grid;
    grid-template-columns: 2fr 1fr;
    display: inline-block;
    background-color: green;
    font-family: 'Noto Serif', serif;
}

.hour {
    display: inline-block;
    font-size: 40%;
}

.text {
    display: inline-block
}



/* ------------------------------------------------- */

/* #chat{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15fr 1fr;
    grid-template-areas: 
    "f c"
    "f i";
}

#friends{
    grid-area: f;
    display: grid;
}

#chatbox{
    grid-area: c;
    display: grid;
}

#input{
    grid-area: i;
    display: grid;
} */
